In [2]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl,sep='\t')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [9]:
ans=df.head(5)
pd.set_option('display.max_columns',None)

In [11]:
ans.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,t1_champ1_sum1,t1_champ1_sum2,t1_champ2id,t1_champ2_sum1,t1_champ2_sum2,t1_champ3id,t1_champ3_sum1,t1_champ3_sum2,t1_champ4id,t1_champ4_sum1,t1_champ4_sum2,t1_champ5id,t1_champ5_sum1,t1_champ5_sum2,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t1_ban1,t1_ban2,t1_ban3,t1_ban4,t1_ban5,t2_champ1id,t2_champ1_sum1,t2_champ1_sum2,t2_champ2id,t2_champ2_sum1,t2_champ2_sum2,t2_champ3id,t2_champ3_sum1,t2_champ3_sum2,t2_champ4id,t2_champ4_sum1,t2_champ4_sum2,t2_champ5id,t2_champ5_sum1,t2_champ5_sum2,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,8,12,4,432,3,4,96,4,7,11,11,6,112,4,14,11,1,2,3,0,92,40,69,119,141,104,11,4,498,4,7,122,6,4,238,14,4,412,4,3,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,119,7,4,39,12,4,76,4,3,10,4,14,35,4,11,10,4,0,2,1,51,122,17,498,19,54,4,12,25,4,14,120,11,4,157,4,14,92,4,7,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,18,4,7,141,11,4,267,3,4,68,4,12,38,12,4,8,1,1,1,0,117,40,29,16,53,69,4,7,412,14,4,126,4,12,24,4,11,22,7,4,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,57,4,12,63,4,14,29,4,7,61,4,1,36,11,4,9,2,1,2,0,238,67,516,114,31,90,14,4,19,11,4,412,4,3,92,4,14,22,4,7,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,19,4,12,29,11,4,40,4,3,119,4,7,134,7,4,9,2,1,3,0,90,64,412,25,31,37,3,4,59,4,12,141,11,4,38,4,12,51,4,7,3,0,0,1,0,86,11,201,122,18

In [10]:
ans.describe()

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,t1_champ1_sum1,t1_champ1_sum2,t1_champ2id,t1_champ2_sum1,t1_champ2_sum2,t1_champ3id,t1_champ3_sum1,t1_champ3_sum2,t1_champ4id,t1_champ4_sum1,t1_champ4_sum2,t1_champ5id,t1_champ5_sum1,t1_champ5_sum2,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t1_ban1,t1_ban2,t1_ban3,t1_ban4,t1_ban5,t2_champ1id,t2_champ1_sum1,t2_champ1_sum2,t2_champ2id,t2_champ2_sum1,t2_champ2_sum2,t2_champ3id,t2_champ3_sum1,t2_champ3_sum2,t2_champ4id,t2_champ4_sum1,t2_champ4_sum2,t2_champ5id,t2_champ5_sum1,t2_champ5_sum2,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.000000e+00,5.000000e+00,5.000000,5.0,5.0,5.000000,5.0,5.0,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.0,5.0,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000
mean,3.307991e+09,1.503078e+12,1829.000000,9.0,1.0,1.600000,1.0,1.0,0.800000,1.200000,0.600000,44.200000,6.20000,7.800000,140.800000,8.20000,6.000000,101.600000,3.800000,4.80000,53.800000,5.400000,8.000000,71.000000,7.600000,7.400000,9.400000,2.000000,1.000000,2.20000,0.200000,117.600000,66.600000,208.600000,154.400000,55.000000,70.800000,7.200000,6.20000,202.600000,7.400000,8.200000,184.200000,7.200000,5.400000,109.800000,6.000000,11.000000,119.800000,4.600000,5.600000,2.40000,0.0,0.0,0.600000,0.200000,106.40000,80.200000,148.800000,57.200000,113.600000
std,4.386652e+07,2.925139e+09,225.303129,0.0,0.0,0.547723,0.0,0.0,0.447214,0.447214,0.894427,45.800655,3.49285,4.024922,168.606643,4.32435,4.472136,96.318742,0.447214,2.04939,45.427965,3.130495,5.147815,48.114447,3.781534,4.774935,1.140175,1.224745,0.707107,0.83666,0.447214,71.325311,33.508208,236.812795,198.018433,49.618545,26.920253,4.969909,3.49285,232.906204,4.774935,4.604346,127.609561,3.563706,3.714835,88.736689,4.472136,4.123106,165.843903,1.341641,1.949359,1.81659,0.0,0.0,0.547723,0.447214,62.15545,92.068996,75.347196,39.467708,171.890372
min,3.229566e+09,1.497849e+12,1493.000000,9.0,1.0,1.000000,1.0,1.0,0.000000,1.000000,0.000000,8.000000,4.00000,4.000000,29.000000,3.00000,4.000000,29.000000,3.000000,3.00000,10.000000,4.000000,1.000000,35.000000,4.000000,4.000000,8.000000,1.000000,0.000000,1.00000,0.000000,51.000000,40.000000,17.000000,16.000000,19.000000,37.000000,3.000000,4.00000,19.000000,4.000000,4.000000,120.000000,4.000000,3.000000,24.000000,4.000000,4.000000,22.000000,4.000000,3.000000,0.00000,0.0,0.0,0.000000,0.000000,11.00000,11.000000,43.000000,16.000000,18.000000
25%,3.326087e+09,1.504279e+12,1758.000000,9.0,1.0,1.000000,1.0,1.0,1.000000,1.000000,0.000000,18.000000,4.00000,4.000000,39.000000,4.00000,4.000000,40.000000,4.000000,3.00000,11.000000,4.000000,6.000000,36.000000,4.000000,4.000000,9.000000,1.000000,1.000000,2.00000,0.000000,90.000000,40.000000,29.000000,25.000000,31.000000,54.000000,4.000000,4.00000,25.000000,4.000000,4.000000,122.000000,4.000000,4.000000,38.000000,4.000000,11.000000,22.000000,4.000000,4.000000,2.00000,0.0,0.0,0.000000,0.000000,86.00000,18.000000,121.000000,40.000000,28.000000
50%,3.326857e+09,1.504349e+12,1851.000000,9.0,1.0,2.000000,1.0,1.0,1.000000,1.000000,0.000000,19.000000,4.00000,7.000000,63.000000,11.00000,4.000000,76.000000,4.000000,4.00000,61.000000,4.000000,7.000000,38.000000,7.000000,4.000000,9.000000,2.000000,1.000000,2.00000,0.000000,92.000000,64.000000,69.000000,114.000000,31.000000,69.000000,4.000000,4.00000,59.000000,4.000000,7.000000,126.000000,6.000000,4.000000,92.000000,4.000000,12.000000,51.000000,4.000000,7.000000,2.00000,0.0,0.0,1.000000,0.000000,114.00000,67.000000,141.000000,51.000000,51.000000
75%,3.327364e+09,1.504360e+12,1949.000000,9.0,1.0,2.000000,1.0,1.0,1.000000,1.000000,1.000000,57.000000,7.00000,12.000000,141.000000,11.00000,4.000000,96.000000,4.000000,7.00000,68.000000,4.000000,12.000000,112.000000,11.000000,11.000000,10.000000,2.000000,1.000000,3.00000,0.000000,117.000000,67.000000,412.000000,119.000000,53.000000,90.000000,11.000000,7.00000,412.000000,11.000000,12.000000,141.000000,11.000000,4.000000,157.000000,4.000000,14.000000,92.000000,4.000000,7.000000,3.00000,0.0,0.0,1.000000,0.000000,157.00000,67.000000,201.000000,57.000000,51.000000
max,3.330081e+09,1.504554e+12,2094.000000,9.0,1.0,2.000000,1.0,1.0,1.000000,2.000000,2.000000,119.000000,12.00000,12.000000,432.000000,12.00000,14.000000,267.000000,4.000000,7.00000,119.000000,11.000000,14.000000,134.000000,12.000000,14.000000,11.000000,4.000000,2.000000,3.00000,1.000000,238.000000,122.000000,516.000000,498.000000,141.000000,104.000000,14.000000,12.00000,498.000000,14.000000,14.000000,412.000000,11.000000,12.000000,238.000000,14.000000,14.000000,412.000000,7.000000,7.000000,5.00000,0.0,0.0,1.000000,1.000000,164.00000,238.000000,238.000000,122.000000,420.000000

In [12]:
df.shape

(51490, 61)

In [13]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [14]:
df.columns[5]

'firstBlood'

In [16]:
#6    
df.iloc[:,5].dtype

dtype('int64')

In [19]:
#   
df.index

RangeIndex(start=0, stop=51490, step=1)

In [22]:
#6  3 ?
df.iloc[2,5]

2